# Metadata

**Python Topics** - data_analysis > sql_query_with_pandas

**Type** - query

**Target Number of Turns (User + Assistant)** - 2+

# Conversation

**User**

How can I use pandas to execute a SQL query directly on a DataFrame?