# Metadata

**Python Topics** - data_analysis > sql_query_with_pandas

**Type** - query

**Target Number of Turns (User + Assistant)** - 2+

# Conversation

**User**

Is there a way to group data in a pandas DataFrame similar to a SQL GROUP BY clause, and if so, how?