# Metadata

**Python Topics** - data_analysis > sql_query_with_pandas

**Type** - modification

**Target Number of Turns (User + Assistant)** - 2+

# Conversation

**User**

Can you help me select only the 'name' and 'salary' columns from my DataFrame 'employee_df' using the SQL-like syntax in pandas? Here's what I've got so far: employee_df